{% extends "layout.html" %}

{% block title %}
    Learn
{% endblock %}

{% block main %}
    <div class="mb-5">
        <div class="text-block">
            <br>
            <h3> A Primer on Legalism[1]: </h3>
            <br> 
            <p>In <i>The Book of Lord Shang</i>, Lord Shang states, “Statistics is the true method of society.”[2] This is a core idea of legalism as it assumes a manipulatable nature of society that may be controlled by structuring a government and its laws effectively to contain the unpredictability of human nature. Statistics is the method by which a society may be optimized by recording the effects of different legal actions and using them to refine one’s approach to society. Initializing a Dynasty is about this strategy: utilizing statistics and accounting for the unpredictability of the human person (ergo, the error on each citizen’s statistics), you must optimize society by adjusting your approach to dealing with differing levels of skills, productivity, and delinquency. However, legalism goes beyond optimizing approaches; it also defines appropriate tactics for different situations.</p>
            <p>Initializing a Dynasty draws specifically from the ideas of both Lord Shang and Han Feizi[3] (two legalists from Ancient China). The three districts defined in the simulation (Agriculture, Trade, and Office) come from the occupations that Lord Shang found most important outside a period of war.[4] Agriculture and war were seen as the most critical enterprises for a state as they ensured the health of the state. Agriculture kept people fed so that they could be healthy and contribute back to the state, and war provided the security of a state, both for external threats and from the people getting restless.</p>
            <p>Accordingly, the districts in Initializing a Dynasty are not defined equally. Office is the most important (and the most profitable) followed by Agriculture, followed by Trade. The reasoning is that from Office,[5] society receives its order allowing the rest of the state to prosper. Agriculture is next most important because of its necessity, and Trade is last because of Han Feizi’s and Lord Shang’s disdain for avaricious merchants.[6] Trade fulfills the need for commerce in a state but is frequently used to exploit producers, particularly farmers. </p>
            <p>The people also needed to be kept in check by a well-defined legal system, of which the main components are rewards and punishments. This system also had to be universal to all citizens, meaning no exceptions for officers, and standardized.[7] Every good action should receive an award, and every bad action should be punished. In the simulation, this idea is reflected by the hidden effect of decreasing citizens’ reliability and increasing their crime whenever an action is not taken in their district. If a ruler is inconsistent in enforcing the law, society will fall into disarray as people will not trust the system.</p>
            <p>Furthermore, punishments must be strict. To Lord Shang, this meant dismemberment or execution, even for seemingly light offenses. The higher the degree of the punishment, the less prone citizens will be to breaking the law.[8] As such, Extreme Punishments are the most cost-effective method for reducing crime, but they come at a high price of increasing unrest. Under Lord Shang, the Qin dynasty effectively eliminated crime; however, unrest built up so much that Lord Shang was usurped from power and executed according to his own law. The relationship between punishments and unrest alludes to Lord Shang’s demise.</p>
            <p>On the other hand, rewards are a good method for increasing reliability within your populace. Han Feizi advocated for the use of rewards because they encourage citizens to continue their hard work.[9] Still, the most important element of a good reward system is not the rewards' size but rather their consistency. Consequently, the most cost-effective rewards are Light Rewards, which prevent decline in your populace at a very low price.</p>
            <p>Whether or not legalism convinces you, try it out in the simulation. Discover its strengths and where it succeeds, and explore its downfalls and the obstacles it creates.</p>

           
            <br>

            <p><i>[1] The information about Legalism, Lord Shang, and Han Feizi is taken from the class GenEd 1091 through a combination of lectures and assigned reading. Any claims taken directly from a reading are cited; otherwise, the information is synthesized from lectures, analyzed, and applied to the web application.</i></p>
            <p><i>[2] J. .J. -L. Duyvendak, The Book of Lord Shang, 1928, para. 6.</i></p>
            <p><i>[3] For further reading on Han Feizi, see Bryan W. Van Norden and Philip J. Ivanhoe, eds., “Han Feizi,” in Readings in Classical Chinese Philosophy, 2nd ed. (Indianapolis: Hackett Publishing Company, Inc., 2006), 310–361.</i></p>
            <p><i>[4] Duyvendak, “Selected Sections (Class Document),” para. 4.</i></p>
            <p><i>[5] Bryan W. Van Norden and Philip J. Ivanhoe, eds., “Han Feizi,” in Readings in Classical Chinese Philosophy, 2nd ed. (Indianapolis: Hackett Publishing Company, Inc., 2006), 346.</i></p>
            <p><i>[6] Duyvendak, “Selected Sections (Class Document),” para. 2.</i></p>
            <p><i>[7] Ibid., para. 17.</i></p>
            <p><i>[8] Ibid., para. 5.</i></p>
            <p><i>[9] Van Norden and Ivanhoe, “Han Feizi,” 343.</i></p>
        </div>
    </div>
{% endblock %}